:root {
  --main-color: #333;
  --acento: #d7a430;
  --second: #f1bf2c;
  --white: #ffffff;
  --margin-bottom: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.textos-main-second{
  font-size: 20px;
}

/* typing */
.contenedor-texto .titulo {
     font-size: 70px;
}

.contenedor-texto .cripto {
     font-weight: bold;
     font-style: normal;
}
/* //typing */


.main {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(120deg, #f4d32c4c 0%, #ffffff2f 90%),
    url("./img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.btn-ranking {
  padding: 5px 70px;
}
.btn-grafica {
  padding: 4px 74px;
}
.btn-deseos {
  padding: 5px 46px;
}

.textos-main {
  height: 500px;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.container-box {
  width: 100%;
  height: 100px;
  background-color: var(--acento);
  margin: 100px 0;
}

/************ Estilos Cotizador - Daniel **********/

label {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1rem;
}
.selector {
  width: 100%;
  box-sizing: border-box;
}
.boton-ancho {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.boton {
  color: rgb(0, 0, 0);
  background-color: #d7a430;
  border-color: #d7a430;
}

.centrado {
  text-align: center;
}
.imagenesNav {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 30rem;
  width: fit-content;
}
.imagen {
  width: 1rem;
  height: 1rem;
}
.boton {
  margin-top: 1em;
}
.sinBorde {
  border-color: rgb(255, 255, 255);
}
.margendivs {
  margin-bottom: 10rem;
}
.resultado {
  color: rgb(27, 22, 22);
  padding-top: 5%;
}
.resultado h2 {
  font-weight: bold;
  color: rgb(138, 51, 51);
}
.resultado p {
  font-size: 18px !important;
}
.resultado p span {
  font-weight: bold;
}
p.precio {
  font-size: 30px !important;
}
.cotizador {
  padding: 0px 100px;
  height: 75vh;
  position: relative;
}
.cont-cotizador > div {
  float: left;
  margin: 20px;
}
.izq-cotizador {
  width: 45%;
  position: relative;
}
.izq-cotizador img {
  width: 100%;
  height: 100%;
}
.der-cotizador {
  width: 45%;
  height: 100%;
}
.cont-inferior {
  width: 100%;
  height: 30px;
  /*   text-align: center; */
}
.cont-inferior p {
  text-align: justify;
  margin: 10px 0;
  align-items: center;
}

div#resultado {
  margin-top: 2rem;
}
/* profile */

.contenedorFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}
footer#contacto {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  background-color: var(--acento);
}

/* Footer */
.contenedorCards{
   display: flex;
  align-items: center;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: auto;
}
.contenedor_nav {
  display: flex;
  align-items: center;
  gap: 6rem;
  max-width: 100%;
}
.cardM_content__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--Very-Dark-Grayish-Blue);
  margin: 1rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .contenedor-header {
    display: flex;
    flex-direction: column;
  }
  .mincoliResposivo {
    display: flex;
    justify-content: center;
  }
  .contenedor_nav,.contenedorCards {
    display: flex;
    flex-direction: column;
  }
}
.formato,
.formatonav {
  color: var(--tercero);
}
