:root{
    --main-color: #333;
    --acento: #F4D22C;
    --second:#F1BF2C;
    --white: #FFFFFF ;
    --margin-bottom: 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
 
}
.main{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(120deg, #f4d32c76 0%, #ffffff7f 100%),url("./img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    margin-bottom: var(--margin-bottom);
 }
 .textos-main{
    height: 500px;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 }
 .section-1{

}

 .container-box{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: var(--acento);
    margin: 100px 0;
 }


 